#menu a {
    text-decoration: none;
    color: antiquewhite;
    border-radius: 8px 8px 8px 8px;
    font-size: 40px;
}

#menu li {
    width: 20%;
    background-color: brown;
    margin: 5px;
}

#menu ul {
    list-style: none;
}

#menu li:hover {
    font-size: 30px;
    background-color: black;
}

h1 {
    width: 200px;
    margin: 0 auto;
    color: orange;
    font-size: 48px;
}

body {
    background-color: blueviolet;
}