#menu a {
    text-decoration: none;
    color: antiquewhite;
    border-radius: 8px 8px 8px 8px;
    font-size: 40px;
}

#menu li {
    width: 20%;
    margin: 5px;
    transition: 1.3s;
}

.containerLi {
    background-color: coral;
    width: 80%;
    margin: 0 auto;
}

#menu ul {
    list-style: none;
}

#menu li:hover {
    font-size: 60px;
    background-color: black;
}

h1 {
    width: 200px;
    margin: 0 auto;
    color: orange;
    font-size: 48px;
}

body {
    background-color: blueviolet;
    height: 100vh;
}