@font-face {
    font-family: 'navBar';
    src: url('../css/font/navbar/KleinsForgottenRoman.woff') format('woff'), url('../css/font/navbar/KleinsForgottenRoman.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'navBar';
    font-size: 1.1rem;
}

nav a {
    /* padding: 2%; */
    color: grey;
}

nav a img {
    height: 55px;
    margin: 10px
}

nav a:hover {
    color: white;
}

.select {
    color: white;
}

