#juego {
    text-align: center;
    width: 50%;
}

body {
    display: flex;
    background-color: pink;
    align-content: center;
    width: 80%;
    margin-left: 10%;
}

#canvas {
    border: 4px black solid;
    background-color: blue;
    box-shadow: 3px 3px 3px black;
    border-radius: 10px;
}

h1 {
    border: 1px white solid;
    color: red;
    background-color: black;
    width: 30%;
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 4px black;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
  /*  text-shadow: 4px 4px 4px black;*/
}

#score {
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-shadow: 4px 4px 4px black;
}
#score_container{
    margin: 10px;
}

#fin {
    font-size: 24px;
    width: 20%;
    background-color: red;
    color: white;
    border-radius: 10px;
    margin-top: 52px;
    box-shadow: 4px 4px 4px black;
}

#di {
    display: flex;
    margin: 0 auto;
    width: 400px;
}

#UP {
    background-color: purple;
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

#DOWN {
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-left: 100px;
}

#RIGHT {
    background-color: green;
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

#LEFT {
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 0 auto;
   
}

#control {
    width: 50%;
    margin-top: 100px;
    margin-left: 50px;
    
}

#control button{  
    font-size: 1.6rem;
    color: white;
    border-radius: 6px;
    
}

#container_game{
    display: flex;
}